
.container {
    padding: 20px;
    margin: 20px auto; /* Centre le container */
    max-width: 600px;
    background: rgba(255, 255, 255, 0.8); /* Arrière-plan blanc avec 80% d'opacité */
    border-radius: 8px;
    text-align: center; /* Centre le contenu à l'intérieur du container */
}
.sidenav a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.sidenav a:hover {
    background-color: #575757;
}
.button-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.button-home:hover {
    background-color: #0056b3;
}
.message {
    font-size: 18px;
    color: #28a745;
    margin-bottom: 20px;
}