
/* Conteneur principal */
.container {
    padding: 20px;
    margin: 20px auto; /* Centre le container */
    max-width: 600px;
    background: rgba(255, 255, 255, 0.8); /* Arrière-plan blanc avec 80% d'opacité */
    border-radius: 8px;
    text-align: center; /* Centre le contenu à l'intérieur du container */
}

.logoPage {
    display: block;
    margin: 0 auto;
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.description {
    text-align: justify;
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    justify-content: center;
}

.contact-info div {
    width: 45%;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    color: #333;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
    
}

table {
    width: 100%; /* S'assure que le tableau utilise toute la largeur disponible */
    border-collapse: collapse; /* Pour éviter les doubles bordures */
    margin-top: 20px; /* Marge au-dessus du tableau */
}
th, td {
    border: 1px solid #ccc; /* Bordure des cellules */
    padding: 10px; /* Ajout de padding pour espacer le texte */
    text-align: left; /* Alignement du texte à gauche */
}
th {
    background-color: #f2f2f2; /* Couleur de fond pour les en-têtes */
}
