.container {
    padding: 20px;
    margin: 20px auto; /* Centre le container */
    max-width: 600px;
    background: rgba(255, 255, 255, 0.8); /* Arrière-plan blanc avec 80% d'opacité */
    border-radius: 8px;
    text-align: center; /* Centre le contenu à l'intérieur du container */
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: calc(25% - 20px); /* Ajuste la largeur pour tenir compte du gap */
    box-sizing: border-box;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.card p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}