.container {
    padding: 20px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    text-align: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.card p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-links a {
    color: #000;
    margin: 0 15px;
    font-weight: bold;
}



/* Section principale (Hero) */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 20px;
    background-color: #fff;
}

.hero-content {
    max-width: 50%;
    padding-left: 5%;
}

.hero h1 {
    font-size: 48px;
    color: #00A699;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta-button {
    padding: 10px 20px;
    background-color: #00A699;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #007B66;
}

.hero-image {
    max-width: 35%;
    border-radius: 10px;
    margin-right: 5%;
}

/* Conteneur des cartes */
.container {
    display: flex;
    justify-content: space-around;
    margin: 40px 20px;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.card h2 {
    font-size: 24px;
    color: #00A699;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-image {
    width: 200px; /* Spécifie la largeur de l'image */
    height: 200px; /* Spécifie la hauteur de l'image */
    object-fit: cover; /* Pour garder le ratio sans déformation */
    margin: 0 auto; /* Centre l'image */
    display: block; /* Nécessaire pour que le margin auto fonctionne */
}
