.container {
    padding: 20px;
    margin: 20px auto; /* Centre le container */
    max-width: 600px;
    background: rgba(255, 255, 255, 0.8); /* Arrière-plan blanc avec 80% d'opacité */
    border-radius: 8px;
    text-align: center; /* Centre le contenu à l'intérieur du container */
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#qrcode {
    display: inline-block; /* Assure que le QR code ne prenne que l'espace nécessaire */
    margin: 20px auto;
}

.qrcode-link {
    margin-top: 15px;
    font-size: 18px;
    color: #3EB489;
    text-decoration: none;
    display: block; /* Assure que le lien soit sur une ligne entière */
}